/.idea/

/vendor/

/data/upload/
!/data/upload/.gitkeep

/data/meta/
!/data/meta/.gitkeep

/deployment/

/public/out/
!/public/out/.gitkeep

/logs/
!/logs/.gitkeep

/data/phpmussel/cache/
!/data/phpmussel/cache/.gitkeep

/data/phpmussel/quarantine/
!/data/phpmussel/quarantine/.gitkeep

/data/phpmussel/signatures/
!/data/phpmussel/signatures/.gitkeep
