.checkbox-group {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.checkbox-group > div > div {

    margin-bottom: 20px;
}

.checkbox-group .password-input {
    text-align: left;
    width: 100%;
}

.checkbox-group .password-input input {
    background: transparent;
    border-radius: 4px;
    border: 2px solid #8F4066;
    color: #fff;
    width: 100%;
    padding: 10px;
    display: block;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.15rem;
}

.checkbox-group .password-input input:focus {
    outline: none;
}

.checkbox-group input {
    display: none;
}
.checkbox-group label {
    display: flex;
    font-size: 0.875em;
    gap: 0.5em;
    align-items: center;
    transition: 0.5s color ease;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    color: #8F4066;
    letter-spacing: 0.15rem;
    font-family: 'Inter', sans-serif;
}
.checkbox-group label::before {
    content: "";
    width: 1.5em;
    height: 1.5em;
    border: 0.125em solid #8F4066;
    border-radius: 0.25em;
}
.checkbox-group input:checked + label {
    color: #fff;
}

.checkbox-group label::after {
    content: "";
    width: 1.05em;
    height: 1em;
    top: 0.375em;
    left: 0.375em;
    border-radius: 4px;
    background-color: #8F4066;
    position: absolute;
    transform: scale(0);
    transition: 0.5s transform ease;
}
.checkbox-group input:checked + label::after {
    transform: scale(1);
}